html{
  background-color:#FEFCFA;
  
}

body{
  width: 600px;
  margin: 0 auto;
  background-color:#F6DBB5;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
 
}
  
h1 {
  color:Green;
  font-size: 100px;
  text-align: center;
  font-family: 'Waterfall', cursive;
}

p {
  color:#8B5408;
  font-size: 30px;
  text-align: left;
  font-family: 'Waterfall', cursive;
}

li {
  font-size: 20px;
  color:black;
  font-family:'Oxanium', cursive;
}

/*img {
  display: block;
  margin: 0 auto;
}*/






