html{
  background-color:#FEFCFA;
  
}

body{
  width: 600px;
  margin: 0 auto;
  background-color:#F6DBB5;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
 
}
  


p {
  color:#8B5408;
  font-size: 100px;
  text-align: center;
  font-family: 'Waterfall', cursive;
}

ol {
  color:#57C7EA
  font-family:'Waterfall', cursive;;
}

/*img {
  display: block;
  margin: 0 auto;
}*/






