body{
  background-color:#F6DBB5;
  padding: 0 0 0 20;
}

.a {
  font-size:30px;
  font-family: 'Oxanium', cursive;
  font-family: 'Texturina', serif;
  font-family: 'Waterfall', cursive;
}

p{
  font-size: 18px;
  
}

ol>li{
  padding:6px;
  background-color: beige;
  list-style:circle;
  border-radius: 10px;
}

a{
  font-size: larger;
  color: rgb(19, 133, 226);
  text-decoration: none;
}

.contain{
  display:flex;
  width: 500;

}

.ig,.fb{
  width:150;
}


  






